/*Smooth Scroll*/
html{
  scroll-behaviour: smooth;
}
/*Change logo height when scroll*/
.is-sticky .sp-default-logo {
    height: 48px;
    position: absolute;
    top: 0;
    z-index: 3;
}
.sp-default-logo {
    height: 160px;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.35s ease-in-out 0s;
    -moz-transition: all 0.35s ease-in-out 0s;
    -o-transition: all 0.35s ease-in-out 0s;
    transition: all 0.35s ease-in-out 0s;
    z-index: 3000;
}
/*HIDE OFFCANVAS Toggler in large devices*/
@media all and (min-width: 768px){
	#offcanvas-toggler{
		display: none;
	}
}

@media all and (max-width:767px){
    .sp-megamenu-parent{
        display: none;
    }
    	#offcanvas-toggler{
		display: block;
	}

}
