/*Smooth Scroll*/
html{
  scroll-behaviour: smooth;
}
/*Fix annoying dotted links on hover*/
a {
   outline: 0;
}
/*Change logo height when scroll*/
.is-sticky .sp-default-logo {
    height: 48px;
    position: absolute;
    top: 0;
    z-index: 3;
}
.sp-default-logo {
    height: 160px;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.35s ease-in-out 0s;
    -moz-transition: all 0.35s ease-in-out 0s;
    -o-transition: all 0.35s ease-in-out 0s;
    transition: all 0.35s ease-in-out 0s;
    z-index: 3000;
}
/*Put the header above content*/
#sp-header-sticky-wrapper {
    position: absolute;
    z-index: 3000;
    width: 100%;
}
/*Fix overflow in .body-innerwrapper */
.body-innerwrapper {
  display: block;
  max-width: 100%;
  overflow: hidden;
}
/*FIX UGGLY Min-height with blank background in bootstrap cols*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	min-height: 0px !important;
}
/*HIDE OFFCANVAS Toggler in large devices*/
@media all and (min-width: 768px){
	#offcanvas-toggler{
		display: none;
	}
}

@media all and (max-width:767px){
    .sp-megamenu-parent{
        display: none;
    }
    	#offcanvas-toggler{
		display: block;
	}

}
